body {
    background-color: black;
    color: #41FF00;
}
.bottom-content {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%; 
    background-color: #333;
    color: rgb(236, 14, 14);
    padding: 20px;
    text-align: center;
}